<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      #report-app .loader-section {
        padding: 5rem;
        text-align: center;
        background-color: #f2f2f2;
        margin-top: 10px;
        margin-bottom: 20px;
      }

      #report-app .spaced {
        margin-top: 5rem;
      }
      #report-app table {
        border-collapse: collapse;
      }
      #report-app table,
      #report-app th,
      #report-app td {
        border: 1px solid #c0c0c0;
      }
      #report-app th {
        text-align: center;
      }
      #report-app td,
      #report-app th {
        height: 25px;
        padding: 6px;
        margin: 10px;
      }

      #report-app .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
      }

      /* Safari */
      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      #report-app .selection-btn {
        margin-left: 6px;
        padding: 6px 6px;
        border: solid 1px #dbdada;
        border-radius: 4px;
      }

      #report-app .active-btn {
        background-color: #3498db;
        color: #fff;
        font-weight: 600;
      }
      #report-app .wrapper {
        width: 400px;
        position: relative;
      }
      #report-app .wrapper .selected-items-box {
        cursor: pointer;
        border: solid 1px #ddd;
        padding: 5px;
        background-color: transparent;
        color: #222;
        width: 400px;
      }
      #report-app .selected-items-box .items-list {
        list-style-type: none;
        width: 100%;
        padding: 0;
        margin: 0;
      }
      #report-app .selected-items-box .items-list li {
        display: inline;
      }

      #report-app .wrapper .list {
        display: none;
        height: 320px;
        width: 400px;
        overflow-y: hidden;
        overflow-x: hidden;
        border-left: solid 1px #c7c6c7;
        border-right: solid 1px #c7c6c7;
        border-bottom: solid 1px #c7c6c7;
        z-index: 100;
        position: absolute;
        box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%),
          0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
      }
      #report-app .list .items-list {
        list-style-type: none;
        width: 100%;
        padding: 0;
        margin: 0;
        height: 215px;
        overflow: auto;
      }
      #report-app .list .items-list li {
        margin: 0;
        width: 100%;
        padding: 0;
        border-bottom: solid 1px #c7c6c7;
        padding: 5px;
        background-color: #fff;
      }

      #report-app .selections-multiple-lis {
        background-color: #fff;
        z-index: 21;
      }
      #report-app .search-input {
        border-radius: 4px;
        border: solid 1px #22222252;
        padding: 6px;
      }
      #report-app .period-select {
        padding: 6px 8px;
        border-radius: 3px;
        border: solid 1px #dbdada;
      }
      #report-app .period-year-change-btn {
        border: solid 1px #dbdada;
        border-radius: 4px;
        padding: 6px 8px;
      }
    </style>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
      integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript">
      angular
        .module("reportModule", [])
        .factory("FactoryDefns", function ($window, $http) {
          var uri = "data:application/vnd.ms-excel;base64,",
            template =
              '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table border="1">{table}</table><br /><table border="1">{table}</table></body></html>',
            base64 = function (s) {
              return $window.btoa(unescape(encodeURIComponent(s)));
            },
            format = function (s, c) {
              return s.replace(/{(\w+)}/g, function (m, p) {
                return c[p];
              });
            };
          return {
            tableToExcel: function () {
              var tables = $(
                ".pop-table, .maternal-table, .cchp-table, .opd-table, .ipd-table, .death-table, .notifiable-table, .tracer-table"
              );
              var ctx = { worksheet: "Sheet 1" };
              var str =
                '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body>';

              tables.each(function (index) {
                $(this)
                  .find("td.hidden")
                  .each(function (index2) {
                    this.remove();
                  });
                ctx["table" + index] = this.innerHTML;
                if (this.title == "no-border") {
                  str += "<table>{" + "table" + index + "}</table><br />";
                } else {
                  str +=
                    '<table border="1">{' + "table" + index + "}</table><br />";
                }
              });
              str += "</body></html>";
              var href = uri + base64(format(str, ctx));
              return href;
            },
            getTestOrders: async function (q) {
              return await $http
                .get(
                  `../../../openmrs/ws/rest/v1/icare/concept?limit=10&conceptClass=Test&searchTerm=TEST_ORDERS${
                    q ? "&q=" + q : ""
                  }`
                )
                .then((response) => {
                  return response.data;
                });
            },
            getData: async function (reportDimensions, datasetUuid, testUuid) {
              if (!reportDimensions) {
                return null;
              }
              return await $http
                .get(
                  `../../../openmrs/ws/rest/v1/reportingrest/dataSet/${datasetUuid}?startDate=${reportDimensions?.startDate}&endDate=${reportDimensions?.endDate}&uuid=${testUuid}`
                )
                .then((response) => {
                  return response.data;
                });
            },
          };
        })
        .controller("reportController", [
          "$scope",
          "$http",
          "$timeout",
          "$q",
          "FactoryDefns",
          function ($scope, $http, $timeout, $q, FactoryDefns) {
            $scope.generatePeriods = (year, type) => {
              if (type === "yearly") {
                $scope.periods = [];
                for (let count = 0; count < 10; count++) {
                  $scope.periods = [
                    ...$scope.periods,
                    {
                      id: year - count,
                      name: year - count,
                      startDate: year - count + "-01-01",
                      endDate: year - count + "-12-31",
                    },
                  ];
                }
              } else {
                $scope.periods = [];
                $scope.periods = [
                  ...$scope.periods,
                  {
                    id: "JAN",
                    name: "JAN " + year,
                    startDate: year + "-01-01",
                    endDate: year + "-01-31",
                  },
                  {
                    id: "FEB",
                    name: "FEB " + year,
                    startDate: year + "-02-01",
                    endDate: year + "-02-" + (year % 4 == 0 ? "29" : "28"),
                  },
                  {
                    id: "MAR",
                    name: "MAR " + year,
                    startDate: year + "-03-01",
                    endDate: year + "-03-30",
                  },
                  {
                    id: "APRIL",
                    name: "APRIL " + year,
                    startDate: year + "-04-01",
                    endDate: year + "-04-30",
                  },
                  {
                    id: "MAY",
                    name: "MAY " + year,
                    startDate: year + "-05-01",
                    endDate: year + "-05-31",
                  },
                  {
                    id: "JUNE",
                    name: "JUNE " + year,
                    startDate: year + "-06-01",
                    endDate: year + "-06-30",
                  },
                  {
                    id: "JULY",
                    name: "JULY " + year,
                    startDate: year + "-07-01",
                    endDate: year + "-07-31",
                  },
                  {
                    id: "AUG",
                    name: "AUG " + year,
                    startDate: year + "-08-01",
                    endDate: year + "-08-31",
                  },
                  {
                    id: "SEPT",
                    name: "SEPT " + year,
                    startDate: year + "-09-01",
                    endDate: year + "-09-30",
                  },
                  {
                    id: "OCT",
                    name: "OCT " + year,
                    startDate: year + "-10-01",
                    endDate: year + "-10-31",
                  },
                  {
                    id: "NOV",
                    name: "NOV " + year,
                    startDate: year + "-11-01",
                    endDate: year + "-11-30",
                  },
                  {
                    id: "DEC",
                    name: "DEC " + year,
                    startDate: year + "-12-01",
                    endDate: year + "-12-31",
                  },
                ];
              }
            };

            $scope.currentUser = null;
            $scope.loading = false;
            $scope.showChart = {
              row: false,
              column: false,
            };
            $scope.analysisType = "by-year";
            $scope.analysisCategory = "all";
            $scope.searchingText = null;
            $scope.reportHeaders = [];
            $scope.currentYear = new Date().getFullYear();
            $scope.selectedYear = $scope.currentYear;
            $scope.generatePeriods($scope.selectedYear, "yearly");
            $scope.message = "";
            $scope.selectedPeriod = null;
            $scope.reportDimensions = {
              startDate: window["iReportsDimensions"]
                ? window["iReportsDimensions"]?.startDate
                : "2022-11-22",
              endDate: window["iReportsDimensions"]
                ? window["iReportsDimensions"]?.endDate
                : new Date().getFullYear().toString() +
                  "-" +
                  new Date().getMonth() +
                  1 +
                  "-" +
                  new Date().getDate(),
            };
            $scope.dataSetsReference = {
              "by-year": {
                all: {
                  name: "",
                  uuid: "1bf75871-6fb4-4538-869a-891351963eef",
                },
                referred: {},
                rejected: {
                  name: "",
                  uuid: "3ffb9d3b-7e76-4bf6-9062-ab69940c8dd0",
                },
                "not-reviewed": {
                  name: "",
                  uuid: "fef8ba74-b6ae-4f23-ae81-523f22a99d3d",
                },
                reviewed: {
                  name: "",
                  uuid: "e3e058b3-5855-43e8-9edd-ffb65ae75c53",
                },
                "not-resulted": {
                  name: "",
                  uuid: "07cae63d-54cc-4977-aaaa-cdc912bcc3bf",
                },
              },
              "by-month": {
                all: {
                  name: "",
                  uuid: "e9233c60-39c6-451a-ba06-2193ebc949ff",
                },
                referred: {},

                rejected: {
                  name: "",
                  uuid: "9118ce95-f60b-459f-abfc-1ee46d5b36dc",
                },
                "not-reviewed": {
                  name: "",
                  uuid: "9192baf4-571f-4455-b2bb-a7ab876e4092",
                },
                reviewed: {
                  name: "",
                  uuid: "ad2c825a-f7a1-4e33-9b2e-54587a376d57",
                },
                "not-resulted": {
                  name: "",
                  uuid: "9eeba063-2d43-4c36-9c38-6471f4f14d40",
                },
              },
            };
            $scope.dataRowsByTest = {};
            $scope.dataForChart = [];
            $scope.testOrders = [];
            $scope.showMultipleSelection = true;
            $scope.selectedItems = [];
            $scope.keyedSelectedTestOrders = {};
            $scope.datasetUuids = [];
            $scope.columnTotalKeys = [];
            // console.log($scope.reportDimensions);
            $scope.onSetReportType = function (type) {
              $scope.analysisType = type;
              $scope.loadData($scope.reportDimensions);
              $scope.generatePeriods(
                $scope.selectedYear,
                $scope.analysisType === "by-year" ? "yearly" : "monthly"
              );
            };

            $scope.onSetReportCategory = (category) => {
              $scope.analysisCategory = category;
              $scope.loadData($scope.reportDimensions);
            };

            $scope.loadData = function (reportDimensions) {
              $scope.showChart = {
                row: false,
                column: false,
              };
              $scope.dataRowsByTest = {};
              if ($scope.analysisType == "by-year") {
                $scope.reportHeaders = [
                  {
                    id: "JAN",
                    name: "JAN",
                  },
                  {
                    id: "FEB",
                    name: "FEB",
                  },
                  {
                    id: "MARCH",
                    name: "MARCH",
                  },
                  {
                    id: "APRIL",
                    name: "APRIL",
                  },
                  {
                    id: "MAY",
                    name: "MAY",
                  },
                  {
                    id: "JUNE",
                    name: "JUNE",
                  },
                  {
                    id: "JULY",
                    name: "JULY",
                  },
                  {
                    id: "AUG",
                    name: "AUG",
                  },
                  {
                    id: "SEPT",
                    name: "SEPT",
                  },
                  {
                    id: "OCT",
                    name: "OCT",
                  },
                  {
                    id: "NOV",
                    name: "NOV",
                  },
                  {
                    id: "DEC",
                    name: "DEC",
                  },
                ];
              } else {
                $scope.reportHeaders = [
                  {
                    id: "DAY 1",
                    name: "1",
                  },
                  {
                    id: "DAY 2",
                    name: "2",
                  },
                  {
                    id: "DAY 3",
                    name: "3",
                  },
                  {
                    id: "DAY 4",
                    name: "4",
                  },
                  {
                    id: "DAY 5",
                    name: "5",
                  },
                  {
                    id: "DAY 6",
                    name: "6",
                  },
                  {
                    id: "DAY 7",
                    name: "7",
                  },
                  {
                    id: "DAY 8",
                    name: "8",
                  },
                  {
                    id: "DAY 9",
                    name: "9",
                  },
                  {
                    id: "DAY 10",
                    name: "10",
                  },
                  {
                    id: "DAY 11",
                    name: "11",
                  },
                  {
                    id: "DAY 12",
                    name: "12",
                  },
                  {
                    id: "DAY 13",
                    name: "13",
                  },
                  {
                    id: "DAY 14",
                    name: "14",
                  },
                  {
                    id: "DAY 15",
                    name: "16",
                  },
                  {
                    id: "DAY 17",
                    name: "17",
                  },
                  {
                    id: "DAY 18",
                    name: "18",
                  },
                  {
                    id: "DAY 19",
                    name: "19",
                  },
                  {
                    id: "DAY 20",
                    name: "20",
                  },
                  {
                    id: "DAY 21",
                    name: "21",
                  },
                  {
                    id: "DAY 22",
                    name: "22",
                  },
                  {
                    id: "DAY 23",
                    name: "23",
                  },
                  {
                    id: "DAY 24",
                    name: "24",
                  },
                  {
                    id: "DAY 25",
                    name: "25",
                  },
                  {
                    id: "DAY 26",
                    name: "26",
                  },
                  {
                    id: "DAY 27",
                    name: "27",
                  },
                  {
                    id: "DAY 28",
                    name: "28",
                  },
                  {
                    id: "DAY 29",
                    name: "29",
                  },
                  {
                    id: "DAY 30",
                    name: "30",
                  },
                  {
                    id: "DAY 31",
                    name: "31",
                  },
                ];
              }
              if (
                $scope.analysisCategory &&
                $scope.analysisType &&
                $scope.selectedItems.length > 0 &&
                $scope.selectedPeriod
              ) {
                $scope.loading = true;
                let grandTotal = 0;
                for (const selectedTest of $scope.selectedItems) {
                  if (
                    $scope.dataSetsReference[$scope.analysisType][
                      $scope.analysisCategory
                    ].uuid
                  ) {
                    this.message = null;
                    FactoryDefns.getData(
                      {
                        ...$scope.reportDimensions,
                        startDate: $scope.selectedPeriod?.startDate,
                        endDate: $scope.selectedPeriod?.endDate,
                      },
                      $scope.dataSetsReference[$scope.analysisType][
                        $scope.analysisCategory
                      ].uuid,
                      selectedTest.uuid
                    ).then((response) => {
                      $scope.dataRowsByTest[selectedTest?.uuid] = {
                        ...selectedTest,
                        dataRow: response?.rows[0],
                      };

                      // console.log($scope.analysisType);
                      // if ($scope.analysisType === "by-month") {
                      let rowTotal = 0;
                      Object.keys(response?.rows[0]).forEach((key) => {
                        if (
                          key !== "DAY" &&
                          key !== "Jumla_Kuu" &&
                          key !== "Mwezi"
                        ) {
                          rowTotal = rowTotal + Number(response?.rows[0][key]);
                        }
                      });
                      let rowTotalData = {};
                      $scope.dataRowsByTest[selectedTest?.uuid + "-total"] =
                        rowTotal;

                      grandTotal = grandTotal + rowTotal;
                      $scope.dataRowsByTest["Jumla_Kuu"] = grandTotal;
                      // }

                      $scope.columnTotalKeys = Object.keys(
                        response?.rows[0]
                      )?.filter(
                        (key) =>
                          key !== "DAY" &&
                          key !== "Jumla_Kuu" &&
                          key !== "Mwezi"
                      );

                      Object.keys(response?.rows[0]).forEach((key) => {
                        if (key !== "Mwezi" && key !== "DAY") {
                          $scope.dataRowsByTest[key] = $scope.dataRowsByTest[
                            key
                          ]
                            ? Number($scope.dataRowsByTest[key]) +
                              Number(response?.rows[0][key])
                            : Number(response?.rows[0][key]);
                        }
                      });
                      $scope.loading = false;
                      $scope.$apply();
                    });
                  } else {
                    $scope.dataRowsByTest = {};
                    $scope.loading = false;
                    $scope.message = "Not supported";
                  }
                }
              }
            };

            // $scope.loadData($scope.reportDimensions, $scope.datasetUuids);

            $scope.getSelectedItem = (event, testOrder) => {
              $scope.testOrders =
                $scope.testOrders.filter(
                  (test) => test.uuid != testOrder.uuid
                ) || [];
              $scope.selectedItems = _.uniqBy(
                [...$scope.selectedItems, testOrder],
                "uuid"
              );
            };

            $scope.unSelectItem = (event, testOrder) => {
              $scope.selectedItems =
                $scope.selectedItems.filter(
                  (test) => test.uuid != testOrder.uuid
                ) || [];
              $scope.testOrders = _.uniqBy(
                [...$scope.testOrders, testOrder],
                "uuid"
              );
            };

            $scope.toggleMultipleSelection = (event) => {
              $scope.showMultipleSelection = !$scope.showMultipleSelection;
            };

            $scope.updateTestOrders = () => {
              $scope.showMultipleSelection = false;
              $scope.loadData($scope.reportDimensions);
            };

            $scope.onSearchTestOrders = (event) => {
              $scope.searchingText = event.target.value;
              $scope.getTestOrders();
            };

            $scope.getSelectedPeriod = (event) => {
              $scope.loadData($scope.reportDimensions);
            };

            $scope.getColumTotal = (dataRowsByTest, selectedItems, header) => {
              let total = 0;
              for (const testOrder of selectedItems) {
                if (Number(dataRowsByTest[testOrder.uuid].dataRow[header.id])) {
                  total =
                    total +
                    Number(dataRowsByTest[testOrder.uuid].dataRow[header.id]);
                }
              }
              return total;
            };

            $scope.toggleChart = (data, selectedItems, categoryToView) => {
              $scope.dataForChart = [];
              if (categoryToView === "row") {
                for (const testOrder of selectedItems) {
                  Object.keys(data).forEach((key) => {
                    if (key.indexOf(testOrder?.uuid + "-total") > -1) {
                      $scope.dataForChart = [
                        ...$scope.dataForChart,
                        {
                          name: testOrder?.display,
                          data: [data[key]],
                        },
                      ];
                    }
                  });
                }
              } else {
                $scope.columnTotalKeys.forEach((key) => {
                  $scope.dataForChart = [
                    ...$scope.dataForChart,
                    {
                      name: key,
                      data: [data[key]],
                    },
                  ];
                });
              }

              $scope.showChart[categoryToView] =
                !$scope.showChart[categoryToView];
              if ($scope.showChart[categoryToView]) {
                setTimeout(() => {
                  Highcharts.chart("chart-column-" + categoryToView, {
                    // colors: ['#2e8180', '#3498db','#f7fbff', '#deebf7', '#c6dbef', '#9ecae1', '#6baed6', '#4292c6', '#2171b5', '#08519c', '#08306b'],
                    chart: {
                      type: "column",
                      style: {
                        fontSize: "11px", // Define the font size for the whole chart
                      },
                    },
                    title: {
                      text:
                        (categoryToView === "row"
                          ? "Total counts by tests"
                          : "Total Tests by period") +
                        " " +
                        $scope.selectedPeriod?.name,
                    },
                    xAxis: {
                      categories: ["-"],
                      crosshair: true,
                    },
                    yAxis: {
                      min: 0,
                      title: {
                        text: "Data",
                      },
                      stackLabels: {
                        enabled: true,
                        style: {
                          fontWeight: "normal",
                          color: "black",
                        },
                      },
                    },
                    tooltip: {
                      headerFormat: "<b>{point.x}</b><br/>",
                      pointFormat:
                        "{series.name}: {point.y}<br/>Total: {point.stackTotal}",
                      footerFormat: "</table>",
                      shared: true,
                      useHTML: true,
                    },
                    plotOptions: {
                      column: {
                        dataLabels: {
                          enabled: true,
                          color:
                            (Highcharts.theme &&
                              Highcharts.theme.dataLabelsColor) ||
                            "#222",
                        },
                      },
                    },
                    legend: {
                      floating: false,
                      itemStyle: {
                        whiteSpace: "wrap",
                        textOverflow: "ellipsis",
                      },
                    },
                    series: $scope.dataForChart,
                  });
                }, 10);
              }
            };
            $scope.getOverallTotal = (
              dataRowsByTest,
              selectedItems,
              headers
            ) => {
              let total = 0;
              for (const testOrder of selectedItems) {
                for (const header of headers) {
                  if (
                    Number(dataRowsByTest[testOrder.uuid].dataRow[header.id])
                  ) {
                    total =
                      total +
                      Number(dataRowsByTest[testOrder.uuid].dataRow[header.id]);
                  }
                }
              }
              $scope.$apply();
              return total;
            };

            $scope.onChangeYear = (selectedYear, action) => {
              $scope.selectedYear =
                action == "prev" ? selectedYear - 1 : selectedYear + 1;
              $scope.generatePeriods(
                $scope.selectedYear,
                $scope.analysisType === "by-year" ? "yearly" : "monthly"
              );
            };

            $scope.getTestOrders = () => {
              FactoryDefns.getTestOrders($scope.searchingText).then(
                (response) => {
                  $scope.testOrders = response?.results.map((result) => {
                    return {
                      ...result,
                      display: result.display.replace("TEST_ORDERS:", ""),
                    };
                  });
                  $scope.$apply();
                }
              );
            };

            $scope.getTestOrders();
          },
        ]);
    </script>
  </head>
  <body>
    <div id="report-app" ng-app="reportModule" ng-controller="reportController">
      <h3 class="text-center">Analysis Counts by Statuses</h3>
      <h4 class="text-center">{{selectedPeriod.name}}</h4>
      <div class="selections-multiple-lis">
        <div class="wrapper">
          <div
            class="selected-items-box"
            ng-click="toggleMultipleSelection($event)"
          >
            <span> Test Orders</span>
            <span>
              <img
                height="10"
                style="float: right"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA6UlEQVRIie3TsUtCURTH8Y8aCAYSCWEQNASCBA0tDU7h1lJLS1tTSzQF7U3i1NbU1hz+A04NLWJBBEEQGGZQ4NjckA9CeOrT1/a+cId77u98OWe4JCTEwT2q/+Ctog0VfGIvRvkOvrAdFDbRw34M8l18YGv4oYw3HM4gP8A7NsICJXRwMoX8CF2sjwuu4gWnEeTHeMXapA1FPKI2QfYMz1iJMBBYwgPqSIVkzvGE5ajygAXc4RLpP/UULtBCYVp5wDyauMYcMrjCLfLjmsNWHyaHBvqD+6Lfj/kdcdiRZHEzONk4xQkJo/kBrP8gcz3u2LkAAAAASUVORK5CYII="
              />
            </span>
          </div>
          <div
            style="background-color: #fff"
            class="list"
            ng-style="{'display': showMultipleSelection ? 'block': 'none'}"
          >
            <div
              ng-if="!testOrders"
              style="
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
              "
            >
              <div class="loader"></div>
            </div>
            <table class="table">
              <tr>
                <td colspan="2">
                  <input
                    class="search-input"
                    placeholder="Search from all test orders"
                    style="width: 100%"
                    ng-keyup="onSearchTestOrders($event)"
                  />
                </td>
              </tr>
              <tr>
                <td style="width: 50%">
                  <ul class="items-list">
                    <li
                      ng-repeat="item in testOrders"
                      ng-click="getSelectedItem($event, item)"
                    >
                      <span>{{item.display}}</span>
                    </li>
                  </ul>
                </td>
                <td style="width: 50%">
                  <ul class="items-list">
                    <li
                      ng-repeat="item in selectedItems"
                      ng-click="unSelectItem($event, item)"
                    >
                      <span>{{item.display}}</span>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <button
                    class="btn btn-primary"
                    style="float: right"
                    ng-disabled="selectedItems.length ==0"
                    ng-click="updateTestOrders()"
                  >
                    Update
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div style="width: 100%; margin-top: 16px; z-index: 20">
        <button
          ng-click="onSetReportType('by-year')"
          class="selection-btn"
          ng-class="{'active-btn': analysisType === 'by-year'}"
        >
          By Year
        </button>
        <button
          ng-click="onSetReportType('by-month')"
          class="selection-btn"
          ng-class="{'active-btn': analysisType === 'by-month'}"
        >
          By Months
        </button>
        <button
          ng-click="onSetReportCategory('all')"
          class="selection-btn"
          ng-class="{'active-btn': analysisCategory === 'all'}"
        >
          All Requests
        </button>
        <button
          ng-click="onSetReportCategory('referred')"
          class="selection-btn"
          ng-class="{'active-btn': analysisCategory === 'referred'}"
        >
          Referred
        </button>
        <button
          ng-click="onSetReportCategory('repeated')"
          class="selection-btn"
          ng-class="{'active-btn': analysisCategory === 'repeated'}"
        >
          Repeated
        </button>
        <button
          ng-click="onSetReportCategory('rejected')"
          class="selection-btn"
          ng-class="{'active-btn': analysisCategory === 'rejected'}"
        >
          Rejected
        </button>
        <button
          ng-click="onSetReportCategory('not-reviewed')"
          ng-class="{'active-btn': analysisCategory === 'not-reviewed'}"
          class="selection-btn"
        >
          Results Not Reviewed
        </button>
        <button
          ng-click="onSetReportCategory('reviewed')"
          class="selection-btn"
          ng-class="{'active-btn': analysisCategory === 'reviewed'}"
        >
          Reviewed
        </button>
        <button
          ng-click="onSetReportCategory('not-resulted')"
          class="selection-btn"
          ng-class="{'active-btn': analysisCategory === 'not-resulted'}"
        >
          Not Resulted
        </button>
        <button
          style="margin-left: 24px"
          ng-click="onChangeYear(selectedYear, 'prev')"
          class="period-year-change-btn"
        >
          Prev
        </button>
        <select
          class="period-select"
          ng-options="item as item.name for item in periods track by item.id"
          ng-model="selectedPeriod"
          ng-change="getSelectedPeriod($event)"
        ></select>
        <button
          ng-click="onChangeYear(selectedYear, 'next')"
          class="period-year-change-btn"
          ng-disabled="selectedYear == currentYear"
        >
          Next
        </button>
      </div>

      <div style="width: 100%; overflow: auto; margin-top: 16px">
        <table class="table table-bordered" ng-if="!loading && selectedPeriod">
          <thead style="background-color: #2e8180; color: #fff">
            <tr>
              <th style="width: 20px">SN</th>
              <th>Test</th>
              <th ng-repeat="header in reportHeaders">{{header.name}}</th>
              <th>
                TOTAL
                <input
                  style="margin-left: 8px"
                  type="checkbox"
                  ng-click="toggleChart(dataRowsByTest,selectedItems, 'row')"
                />Chart
              </th>
            </tr>
          </thead>
          <tbody ng-if="!message && reportHeaders.length > 0">
            <tr ng-repeat="selectedTest in selectedItems">
              <td>{{$index + 1}}</td>
              <td>{{dataRowsByTest[selectedTest.uuid].display}}</td>
              <td ng-repeat="header in reportHeaders">
                {{dataRowsByTest[selectedTest.uuid].dataRow[header.id]}}
              </td>
              <td>{{dataRowsByTest[selectedTest.uuid + "-total"]}}</td>
            </tr>
            <tr>
              <td colspan="2">
                TOTAL<input
                  style="margin-left: 8px"
                  type="checkbox"
                  ng-click="toggleChart(dataRowsByTest,selectedItems, 'column')"
                />Chart
              </td>
              <td ng-repeat="header in reportHeaders">
                {{ dataRowsByTest[header.id] }}
              </td>
              <td>{{dataRowsByTest['Jumla_Kuu']}}</td>
            </tr>
          </tbody>
        </table>
        <div style="width: 100%">{{message}}</div>

        <div
          style="margin-top: 32px"
          id="chart-column-row"
          ng-if="showChart['row']"
        ></div>
        <div
          style="margin-top: 32px"
          id="chart-column-column"
          ng-if="showChart['column']"
        ></div>
        <div
          ng-if="loading && selectedPeriod"
          style="
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </body>
</html>
