<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      #report-app .loader-section {
        padding: 5rem;
        text-align: center;
        background-color: #f2f2f2;
        margin-top: 10px;
        margin-bottom: 20px;
      }

      #report-app .spaced {
        margin-top: 2rem;
      }
      #report-app .report-table th,
      #report-app .report-table td {
        text-align: center;
      }

      #report-app .report-header {
        font-weight: 600;
        color: #222c;
      }

      #report-app thead {
        background-color: #e2e2e252;
      }

      #report-app .active-btn {
        background-color: #3498db;
        color: #fff;
        font-weight: 600;
      }

      #report-app .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
      }

      /* Safari */
      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      #report-app .wrapper {
        width: 400px;
        position: relative;
      }
      #report-app .wrapper-period {
        width: 400px;
        position: relative;
      }
      #report-app .wrapper .selected-items-box,
      #report-app .wrapper-period .selected-items-box-period {
        cursor: pointer;
        border: solid 1px #ddd;
        padding: 5px;
        background-color: transparent;
        color: #222;
        width: 400px;
      }
      #report-app .selected-items-box .items-list {
        list-style-type: none;
        width: 100%;
        padding: 0;
        margin: 0;
      }
      #report-app .selected-items-box .items-list li {
        display: inline;
      }

      #report-app .wrapper .list,
      #report-app .wrapper-period .list {
        display: none;
        height: 320px;
        width: 400px;
        overflow-y: hidden;
        overflow-x: hidden;
        border-left: solid 1px #c7c6c7;
        border-right: solid 1px #c7c6c7;
        border-bottom: solid 1px #c7c6c7;
        z-index: 100;
        position: absolute;
        box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%),
          0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
      }
      #report-app .list .items-list {
        list-style-type: none;
        width: 100%;
        padding: 0;
        margin: 0;
        height: 215px;
        overflow: auto;
      }
      #report-app .list .items-list li {
        margin: 0;
        width: 100%;
        padding: 0;
        border-bottom: solid 1px #c7c6c7;
        padding: 5px;
        background-color: #fff;
      }

      #report-app .selection-btn {
        margin-left: 6px;
        padding: 6px 6px;
        border: solid 1px #dbdada;
        border-radius: 4px;
      }
    </style>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
      integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script type="text/javascript">
      angular
        .module("reportModule", [])
        .factory("FactoryDefns", function ($window, $http) {
          var uri = "data:application/vnd.ms-excel;base64,",
            template =
              '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table border="1">{table}</table><br /><table border="1">{table}</table></body></html>',
            base64 = function (s) {
              return $window.btoa(unescape(encodeURIComponent(s)));
            },
            format = function (s, c) {
              return s.replace(/{(\w+)}/g, function (m, p) {
                return c[p];
              });
            };
          return {
            tableToExcel: function () {
              var tables = $(
                ".pop-table, .maternal-table, .cchp-table, .opd-table, .ipd-table, .death-table, .notifiable-table, .tracer-table"
              );
              var ctx = { worksheet: "Sheet 1" };
              var str =
                '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body>';

              tables.each(function (index) {
                $(this)
                  .find("td.hidden")
                  .each(function (index2) {
                    this.remove();
                  });
                ctx["table" + index] = this.innerHTML;
                if (this.title == "no-border") {
                  str += "<table>{" + "table" + index + "}</table><br />";
                } else {
                  str +=
                    '<table border="1">{' + "table" + index + "}</table><br />";
                }
              });
              str += "</body></html>";
              var href = uri + base64(format(str, ctx));
              return href;
            },
            getData: async function (period, dataSetUuid) {
              if (!period && !dataSetUuid) {
                return null;
              }
              return await $http
                .get(
                  `../../../openmrs/ws/rest/v1/reportingrest/dataSet/${dataSetUuid}?startDate=${period?.startDate}&endDate=${period?.endDate}`
                )
                .then((response) => {
                  return response.data;
                });
            },
          };
        })
        .controller("reportController", [
          "$scope",
          "$http",
          "$timeout",
          "$q",
          "FactoryDefns",
          function ($scope, $http, $timeout, $q, FactoryDefns) {
            $scope.periods = [];
            $scope.analysisType = "monthly";
            $scope.generatePeriods = (year, type) => {
              if (type === "yearly") {
                $scope.periods = [];
                for (let count = 0; count < 10; count++) {
                  $scope.periods = [
                    ...$scope.periods,
                    {
                      id: year - count,
                      name: year - count,
                      startDate: year - count + "-01-01",
                      endDate: year - count + "-12-31",
                    },
                  ];
                }
              } else {
                $scope.periods = [];
                $scope.periods = [
                  ...$scope.periods,
                  {
                    id: "JAN",
                    name: "JAN " + year,
                    startDate: year + "-01-01",
                    endDate: year + "-01-31",
                  },
                  {
                    id: "FEB",
                    name: "FEB " + year,
                    startDate: year + "-02-01",
                    endDate: year + "-02-" + (year % 4 == 0 ? "29" : "28"),
                  },
                  {
                    id: "MAR",
                    name: "MAR " + year,
                    startDate: year + "-03-01",
                    endDate: year + "-03-30",
                  },
                  {
                    id: "APRIL",
                    name: "APRIL " + year,
                    startDate: year + "-04-01",
                    endDate: year + "-04-30",
                  },
                  {
                    id: "MAY",
                    name: "MAY " + year,
                    startDate: year + "-05-01",
                    endDate: year + "-05-31",
                  },
                  {
                    id: "JUNE",
                    name: "JUNE " + year,
                    startDate: year + "-06-01",
                    endDate: year + "-06-30",
                  },
                  {
                    id: "JULY",
                    name: "JULY " + year,
                    startDate: year + "-07-01",
                    endDate: year + "-07-31",
                  },
                  {
                    id: "AUG",
                    name: "AUG " + year,
                    startDate: year + "-08-01",
                    endDate: year + "-08-31",
                  },
                  {
                    id: "SEPT",
                    name: "SEPT " + year,
                    startDate: year + "-09-01",
                    endDate: year + "-09-30",
                  },
                  {
                    id: "OCT",
                    name: "OCT " + year,
                    startDate: year + "-10-01",
                    endDate: year + "-10-31",
                  },
                  {
                    id: "NOV",
                    name: "NOV " + year,
                    startDate: year + "-11-01",
                    endDate: year + "-11-30",
                  },
                  {
                    id: "DEC",
                    name: "DEC " + year,
                    startDate: year + "-12-01",
                    endDate: year + "-12-31",
                  },
                ];
              }
            };

            $scope.currentYear = new Date().getFullYear();
            $scope.selectedYear = $scope.currentYear;
            $scope.selectedPeriods = [];
            $scope.generatePeriods($scope.selectedYear, $scope.analysisType);
            $scope.showMultipleSelectionPeriod = true;
            $scope.currentUser = null;
            $scope.dataSetUuid = "734cc9d2-370f-4234-be3c-1cda7f538666";
            $scope.loading = true;
            $scope.loaded = false;
            $scope.reportData = [];
            $scope.reportDimensions = {
              periods: [],
              allData: {},
            };
            $scope.dataKeys = [
              "ME_Umri_Chini_Ya_Mwaka_1",
              "KE_Umri_Chini_Ya_Mwaka_1",
              "ME_Umri_Mwaka_1_Hadi_4",
              "KE_Umri_Mwaka_1_Hadi_4",
              "ME_Umri_Mwaka_5_Hadi_9",
              "KE_Umri_Mwaka_5_Hadi_9",
              "ME_Umri_Mwaka_10_Hadi_14",
              "KE_Umri_Mwaka_10_Hadi_14",
              "ME_Umri_Mwaka_15_Hadi_19",
              "KE_Umri_Mwaka_15_Hadi_19",
              "ME_Umri_Mwaka_20_Hadi_24",
              "KE_Umri_Mwaka_20_Hadi_24",
              "ME_Umri_Mwaka_25_Hadi_49",
              "KE_Umri_Mwaka_25_Hadi_49",
              "ME_Umri_Miaka_Juu_Ya_50",
              "KE_Umri_Miaka_Juu_Ya_50",
            ];

            $scope.loadData = () => {
              $scope.reportDimensions.allData = {};
              $scope.reportData = [];
              for (const period of $scope.reportDimensions?.periods) {
                $scope.loading = true;
                FactoryDefns.getData(period, $scope.dataSetUuid).then(
                  (response) => {
                    // console.log("response" + period.id, response);
                    let data = {
                      period: period,
                      periodId: period.id,
                      dataValues: _.keyBy(
                        Object.keys(response?.rows[0]).map((key) => {
                          return {
                            key: key + "-" + period?.id,
                            value: response?.rows[0][key],
                          };
                        }),
                        "key"
                      ),
                    };

                    data["meRowTotal-" + period.id] = $scope.calculateTotal(
                      Object.keys(response?.rows[0]).map((key) => {
                        return key.toLowerCase().indexOf("me_") > -1 &&
                          key.indexOf("Jumla_") == -1
                          ? response?.rows[0][key]
                          : 0;
                      })
                    );

                    data["keRowTotal-" + period.id] = $scope.calculateTotal(
                      Object.keys(response?.rows[0]).map((key) => {
                        return key.toLowerCase().indexOf("ke_") > -1 &&
                          key.indexOf("Jumla_") == -1
                          ? response?.rows[0][key]
                          : 0;
                      })
                    );
                    data["overallRowTotal-" + period.id] =
                      $scope.calculateTotal(
                        Object.keys(response?.rows[0]).map((key) => {
                          return (key.toLowerCase().indexOf("me_") > -1 ||
                            key.toLowerCase().indexOf("ke_") > -1) &&
                            key.indexOf("Jumla_") == -1
                            ? response?.rows[0][key]
                            : 0;
                        })
                      );

                    $scope.reportDimensions.allData = {
                      ...$scope.reportDimensions.allData,
                      ..._.keyBy(
                        Object.keys(response?.rows[0]).map((key) => {
                          return {
                            key: key + "-" + period?.id,
                            value: response?.rows[0][key],
                          };
                        }),
                        "key"
                      ),
                    };
                    $scope.reportData = _.orderBy(
                      [...$scope.reportData, data],
                      ["periodId"],
                      ["desc"]
                    );
                    $scope.loaded = true;
                    $scope.loading = false;
                    $scope.$apply();
                  }
                );
              }
            };

            $scope.calculateTotal = function (dataToSum) {
              let total = 0;
              dataToSum?.forEach((data) => {
                total += data;
              });
              return total;
            };

            $scope.onSetReportType = function (type) {
              $scope.analysisType = type;
              $scope.reportDimensions.allData = {};
              $scope.reportData = [];
              $scope.loaded = false;
              $scope.selectedPeriods = [];
              $scope.generatePeriods($scope.selectedYear, $scope.analysisType);
            };

            $scope.getSelectedPeriod = (event, item) => {
              $scope.periods =
                $scope.periods.filter((pe) => pe.id != item.id) || [];
              $scope.selectedPeriods = _.uniqBy(
                [...$scope.selectedPeriods, item],
                "id"
              );
            };

            $scope.unSelectPeriod = (event, item) => {
              $scope.selectedPeriods =
                $scope.selectedPeriods.filter((pe) => pe.id != item.id) || [];
              $scope.periods = _.uniqBy([...$scope.periods, item], "id");
            };

            $scope.toggleMultipleSelectionPeriod = (event) => {
              $scope.showMultipleSelectionPeriod =
                !$scope.showMultipleSelectionPeriod;
            };

            $scope.updateItems = () => {
              $scope.showMultipleSelection = false;
              $scope.showMultipleSelectionPeriod = false;
              $scope.reportDimensions.periods = $scope.selectedPeriods;
              $scope.loadData($scope.reportDimensions);
            };

            $scope.calculateTotalBySpecificDataKey = function (key, allData) {
              let total = 0;

              $scope.reportDimensions.periods.forEach((period) => {
                total += allData[key + "-" + period.id]?.value;
              });
              return total;
            };

            $scope.calculateTheOverallTotal = function (
              keyContent1,
              keyContent2,
              allData
            ) {
              let total = 0;
              $scope.selectedPeriods.forEach((period) => {
                Object.keys(allData).forEach((key) => {
                  total +=
                    ((keyContent1 &&
                      key?.toLowerCase()?.indexOf(keyContent1) > -1 &&
                      key?.indexOf(period?.id) > -1) ||
                      (keyContent2 &&
                        key?.toLowerCase()?.indexOf(keyContent2) > -1 &&
                        key?.indexOf(period?.id) > -1)) &&
                    key.indexOf("Jumla_") == -1
                      ? allData[key]?.value
                      : 0;
                });
              });
              return total;
            };

            $scope.onSearchPeriod = (event) => {
              const searchingText = event.target.value;
            };

            $scope.onChangeYear = (selectedYear, action) => {
              $scope.selectedYear =
                action == "prev" ? selectedYear - 1 : selectedYear + 1;
              $scope.generatePeriods(
                $scope.selectedYear,
                $scope.analysisType === "monthly"
              );
            };
          },
        ]);
    </script>
  </head>
  <body>
    <div id="report-app" ng-app="reportModule" ng-controller="reportController">
      <h2 class="text-center report-header">HIV Testing & Counselling</h2>
      <div
        style="
          width: 100%;
          margin-top: 16px;
          z-index: 20;
          display: flex !important;
        "
      >
        <button
          ng-click="onChangeYear(selectedYear, 'prev')"
          class="period-year-change-btn"
        >
          Prev
        </button>
        <div class="wrapper-period" style="margin-left: 4px">
          <div
            class="selected-items-box-period"
            ng-click="toggleMultipleSelectionPeriod($event)"
          >
            <span> Periods</span>
            <span>
              <img
                height="10"
                style="float: right"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA6UlEQVRIie3TsUtCURTH8Y8aCAYSCWEQNASCBA0tDU7h1lJLS1tTSzQF7U3i1NbU1hz+A04NLWJBBEEQGGZQ4NjckA9CeOrT1/a+cId77u98OWe4JCTEwT2q/+Ctog0VfGIvRvkOvrAdFDbRw34M8l18YGv4oYw3HM4gP8A7NsICJXRwMoX8CF2sjwuu4gWnEeTHeMXapA1FPKI2QfYMz1iJMBBYwgPqSIVkzvGE5ajygAXc4RLpP/UULtBCYVp5wDyauMYcMrjCLfLjmsNWHyaHBvqD+6Lfj/kdcdiRZHEzONk4xQkJo/kBrP8gcz3u2LkAAAAASUVORK5CYII="
              />
            </span>
          </div>
          <div
            style="background-color: #fff"
            class="list"
            ng-style="{'display': showMultipleSelectionPeriod ? 'block': 'none'}"
          >
            <table class="table">
              <tr>
                <td colspan="2">
                  <input
                    class="search-input"
                    placeholder="Search"
                    style="width: 100%"
                    ng-keyup="onSearchPeriod($event)"
                  />
                </td>
              </tr>
              <tr>
                <td style="width: 50%">
                  <ul class="items-list">
                    <li
                      ng-repeat="item in periods"
                      ng-click="getSelectedPeriod($event, item)"
                    >
                      <span>{{item.name}}</span>
                    </li>
                  </ul>
                </td>
                <td style="width: 50%">
                  <ul class="items-list">
                    <li
                      ng-repeat="item in selectedPeriods"
                      ng-click="unSelectPeriod($event, item)"
                    >
                      <span>{{item.name}}</span>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <button
                    class="btn btn-primary"
                    style="float: right"
                    ng-disabled="selectedPeriods.length ==0"
                    ng-click="updateItems()"
                  >
                    Update
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <button
          style="margin-left: 4px"
          ng-click="onChangeYear(selectedYear, 'next')"
          class="period-year-change-btn"
          ng-disabled="selectedYear == currentYear"
        >
          Next
        </button>
        <span style="display: flex !important; margin-left: 16px">
          <button
            ng-click="onSetReportType('yearly')"
            class="selection-btn"
            ng-class="{'active-btn': analysisType === 'yearly'}"
          >
            Years
          </button>
          <button
            style="margin-left: 8px"
            ng-click="onSetReportType('monthly')"
            class="selection-btn"
            ng-class="{'active-btn': analysisType === 'monthly'}"
          >
            Months
          </button>
        </span>
      </div>
      <div style="width: 100%; overflow: auto" *ngIf="selectedPeriods">
        <table class="table table-bordered spaced report-table">
          <thead>
            <tr>
              <th rowspan="3" style="text-align: left">Kipindi (Muda)</th>
              <th colspan="16" class="text-center">Umri kwa Makundi (Miaka)</th>
              <th colspan="3" rowspan="2">Jumla</th>
            </tr>
            <tr>
              <th colspan="2">< 1</th>
              <th colspan="2">1 - 4</th>
              <th colspan="2">5 - 9</th>
              <th colspan="2">10 - 14</th>
              <th colspan="2">15 - 19</th>
              <th colspan="2">20 - 24</th>
              <th colspan="2">25 - 49</th>
              <th colspan="2">> 50</th>
            </tr>
            <tr>
              <th>Me</th>
              <th>Ke</th>
              <th>Me</th>
              <th>Ke</th>
              <th>Me</th>
              <th>Ke</th>
              <th>Me</th>
              <th>Ke</th>
              <th>Me</th>
              <th>Ke</th>
              <th>Me</th>
              <th>Ke</th>
              <th>Me</th>
              <th>Ke</th>
              <th>Me</th>
              <th>Ke</th>
              <th>Me</th>
              <th>Ke</th>
              <th>Me + Ke</th>
            </tr>
          </thead>
          <tbody ng-if="loaded">
            <tr ng-repeat="dataRow in reportData">
              <td style="text-align: left">{{ dataRow.period.name}}</td>
              <td ng-repeat="dataKey in dataKeys">
                {{dataRow.dataValues[dataKey + "-" + dataRow.period.id].value}}
              </td>
              <td>{{ dataRow['meRowTotal-' + dataRow.period.id]}}</td>
              <td>{{ dataRow['keRowTotal-' + dataRow.period.id]}}</td>
              <td>{{ dataRow['overallRowTotal-' + dataRow.period.id]}}</td>
            </tr>
            <tr ng-if="!loading">
              <td>Jumla</td>
              <td ng-repeat="dataKey in dataKeys">
                {{calculateTotalBySpecificDataKey(dataKey,reportDimensions.allData)}}
              </td>
              <td>
                {{ calculateTheOverallTotal('me_',
                null,reportDimensions.allData)}}
              </td>
              <td>
                {{ calculateTheOverallTotal('ke_',
                null,reportDimensions.allData)}}
              </td>
              <td>
                {{ calculateTheOverallTotal('me_',
                'ke_',reportDimensions.allData)}}
              </td>
            </tr>
            <tr ng-if="loading">
              <td colspan="100%">
                <div
                  style="
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  "
                >
                  <div class="loader"></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
